{block name="admin_load"}{include file="common/admin_load"}{/block}
<link rel="stylesheet" href="__STATIC__/bootstrap/css/bootstrap.css">
<style>
    .layui-table-cell{
        height: 100px;
        line-height: 100px;
    }
    .laytable-cell-1-logo{
        width: 130px;
    }
</style>
<blockquote class="layui-elem-quote">
    文章列表
    <a href="/admin/article/add" class="insert col-lg-offset-10"><span class="glyphicon glyphicon-plus"></span></a>
    <a href="javascript:;" id="delete" style="padding-right: 15px;color: red;font-size: 22px"><span class="fa fa-times"></span></a>
</blockquote>


<table class="layui-hide" id="test" lay-filter="demo"></table>

<script type="text/html" id="switchTpl">
    <!-- 这里的 checked 的状态只是演示 -->
    <input type="checkbox" name="sex" value="{{d.status}}" lay-skin="switch" lay-text="正常|锁定" lay-filter="statusDemo" {{ d.status == 1 ? 'checked' : '' }}>
</script>

<script type="text/html" id="checkboxTpl">
    <!-- 这里的 checked 的状态只是演示 -->
    <input type="checkbox" name="lock" value="{{d.status}}" title="锁定" lay-filter="lockDemo" {{ d.status == 1 ? 'checked' : '' }}>
</script>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>

    <!-- 这里同样支持 laytpl 语法，如： -->
    {{#  if(d.auth > 2){ }}
    <a class="layui-btn layui-btn-xs" lay-event="check">审核</a>
    {{#  } }}
</script>
<script type="text/html" id="imgTpl">
    <!-- 这里的 checked 的状态只是演示 -->
    <img src="__STATIC__/{{d.logo}}" width="100px" height="100px" alt="">
</script>

<script>
    layui.use('table', function(){
        var table = layui.table
            ,form = layui.form,
            $ = layui.jquery;

        table.render({
            elem: '#test'
            ,url:'/admin/article/articleList'
            ,cellMinWidth: 80
            ,cols: [[
                {type:'numbers'}
                ,{type: 'checkbox'}
                ,{field:'id', title:'ID', unresize: true, sort: true}
                ,{field:'title', title:'标题', templet: '#usernameTpl'}
                ,{field:'logo', title:'图片',height:100,width:120, toolbar: '#imgTpl'}
                ,{field:'author', title: '作者'}
                ,{field:'content', title: '内容'}
                ,{field:'create_time', title:'创建时间'}
                ,{field:'update_time', title:'更新时间'}
                ,{fixed: 'right', width:150, align:'center', toolbar: '#barDemo'} //这里的toolbar值是模板元素的选择器
            ]]
            ,page: true
        });


        form.on('switch(statusDemo)', function(obj){
            var status = 0;
            if (obj.elem.checked) {
                status = 1;
            }
            var ajaxOp = {};
            ajaxOp.url = '/admin/article/edit';
            ajaxOp.dataType = 'JSON';
            ajaxOp.type = 'GET';
            ajaxOp.data = {
                status  :   status
            }
            ajaxOp.success = function (res) {}
            $.ajax(ajaxOp);
        });

        //监听锁定操作
        form.on('checkbox(lockDemo)', function(obj){
            layer.tips(this.value + ' ' + this.name + '：'+ obj.elem.checked, obj.othis);
        });

        table.on('checkbox(test)', function(obj){
            console.log(obj.checked); //当前是否选中状态
            console.log(obj.data); //选中行的相关数据
            console.log(obj.type); //如果触发的是全选，则为：all，如果触发的是单选，则为：one
        });

        //监听工具条
        table.on('tool(demo)', function(obj){
            var data = obj.data;
            if(obj.event === 'detail'){
                layer.msg('ID：'+ data.id + ' 的查看操作');
            } else if(obj.event === 'del'){
                layer.confirm('真的删除行么', function(index){
                    delData = {
                        id  :   data.id
                    }
                    $.get('/admin/article/delete',delData,function (res) {
                        res = JSON.parse(res)
                        if (res.state == 1) {
                            layer.msg('删除成功');
                            setTimeout(function () {
                                layer.close(index);
                                window.location.reload()
                            })
                        } else {
                            layer.msg('删除失败')
                            layer.close(index);
                        }
                    });
                });
            } else if(obj.event === 'edit'){
                window.location.href = '/admin/article/edit?id=' + data.id;
            }
        });
    });
</script>