{block name="admin_load"}{include file="common/admin_load"}{/block}
<link rel="stylesheet" href="__STATIC__/bootstrap/css/bootstrap.css">
<blockquote class="layui-elem-quote">
    文章列表
    <a href="/admin/article/add" class="insert col-lg-offset-10"><span class="glyphicon glyphicon-plus"></span></a>
</blockquote>


<table class="layui-hide" id="test"></table>

<script type="text/html" id="switchTpl">
    <!-- 这里的 checked 的状态只是演示 -->
    <input type="checkbox" name="sex" value="{{d.status}}" lay-skin="switch" lay-text="正常|锁定" lay-filter="statusDemo" {{ d.status == 1 ? 'checked' : '' }}>
</script>

<script type="text/html" id="checkboxTpl">
    <!-- 这里的 checked 的状态只是演示 -->
    <input type="checkbox" name="lock" value="{{d.status}}" title="锁定" lay-filter="lockDemo" {{ d.status == 1 ? 'checked' : '' }}>
</script>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>

    <!-- 这里同样支持 laytpl 语法，如： -->
    {{#  if(d.auth > 2){ }}
    <a class="layui-btn layui-btn-xs" lay-event="check">审核</a>
    {{#  } }}
</script>

<script>
    layui.use('table', function(){
        var table = layui.table
            ,form = layui.form,
            $ = layui.jquery;

        table.render({
            elem: '#test'
            ,url:'/admin/article/articleList'
            ,cellMinWidth: 80
            ,cols: [[
                {type:'numbers'}
                ,{type: 'checkbox'}
                ,{field:'id', title:'ID', unresize: true, sort: true}
                ,{field:'title', title:'标题', templet: '#usernameTpl'}
                ,{field:'logo', title:'图片'}
                ,{field:'author', title: '作者'}
                ,{field:'content', title: '内容'}
                ,{field:'status', title:'状态', templet: '#switchTpl', unresize: true}
                ,{field:'create_time', title:'创建时间'}
                ,{field:'update_time', title:'更新时间'}
                ,{fixed: 'right', width:150, align:'center', toolbar: '#barDemo'} //这里的toolbar值是模板元素的选择器
            ]]
            ,page: true
        });


        form.on('switch(statusDemo)', function(obj){
            var status = 0;
            if (obj.elem.checked) {
                status = 1;
            }
            var ajaxOp = {};
            ajaxOp.url = '/admin/article/edit';
            ajaxOp.dataType = 'JSON';
            ajaxOp.type = 'GET';
            ajaxOp.data = {
                status  :   status
            }
            ajaxOp.success = function (res) {}
            $.ajax(ajaxOp);
        });

        //监听锁定操作
        form.on('checkbox(lockDemo)', function(obj){
            layer.tips(this.value + ' ' + this.name + '：'+ obj.elem.checked, obj.othis);
        });
    });
</script>